#info {
  text-align:center;
  font-size:30px;
  font-style: bold;
  width: 1000px;
}

.arrow {
  pointer-events: none;
}

#map_container {
  width: 1000px;
  height: 500px;
  border: 1px solid black;
}
